@tailwind base;
@tailwind components;
@tailwind utilities;

:root { --bg:#0b0b0b; --fg:#fafafa; }
html, body { height: 100%; scroll-behavior:smooth; }
body { background:var(--bg); color:var(--fg); }
.container-g { @apply max-w-6xl mx-auto px-4; }
.section { @apply py-20 md:py-28; }
.card { @apply rounded-2xl bg-base-100/30 backdrop-blur border border-white/10 shadow-soft; }
